.container {
    position: relative;
    overflow: hidden;
}

.journeyWrapper {
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.4s ease-in 0.1s, height 0s linear 0.4s;

    epilot-journey {
        display: block;
    }

    &.visible {
        height: auto;
        overflow: visible;
        opacity: 1;
        transition: opacity 0.4s ease-in 0.1s, height 0s linear 0s;
    }
}