.skeleton {
    padding: 2rem;
}

.skeletonWrapper {
    opacity: 1;
    transition: opacity 0.3s ease-out;

    &.hidden {
        opacity: 0;
        position: absolute;
        pointer-events: none;
        visibility: hidden;
    }
}